- const todo = $component.todo;
div
  if todo
    li(class={completed: todo.completed, editing: todo.id === editing})
      .view
        input.toggle(
          attrs={
            type: `checkbox`,
            checked: todo.completed,
          }
          on={change: $helpers.checkTodo},
        )
        label(on={dblclick: $helpers.editTodo})= todo.title
        button.destroy(on={click: $helpers.deleteTodo})
      input.edit(
        props={value: todo.title}
        on={
          blur: $helpers.updateTodo,
          keyup: $helpers.editTodoKeyup,
        }
        hook={
          insert: vnode => $helpers.setInputEl(vnode.elm),
        }
      )
